* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0d1117;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.comparsion {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  outline: 2px solid #21262d;
}

.comparsion:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.tutorial {
  outline: 2px solid #21262d;
}
