.box {
  width: 100px;
  height: 100px;

  background: url("https://s4.anilist.co/file/anilistcdn/user/avatar/large/b423414-fVNa0Me2i4kh.png");
  background-size: cover;
  border-radius: 0%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
}
