/* prep */
* {
  box-sizing: border-box;
}
body,
p,
h1 {
  margin: 0;
}

/* fonts */
@font-face {
  font-family: "firacode";
  src: url("firacode.ttf");
}

/* global stuff */
:root {
  --color-foreground: #11111b;
  --color-background: #22222c;
  --color-background-highlighted: #272731;
  --color-background-transparent: #11111b7f;
}
body {
  background: var(--color-foreground);
  color: #ddd;
  font-family: "firacode";
}

/* navigation */
#save {
  position: absolute;
  left: 20px;
  transform: translateX(-100%);
  transition: transform 100ms ease-in;
  transition-delay: 1s;
}
#save:hover {
  transform: translateX(7%);
  transition-delay: 0s;
}
#saveName {
  width: 75px;
}
#fileSelection {
  width: 75px;
}
#nav {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  padding: 20px;
  position: fixed;
  z-index: 650;
  top: 0;
  width: 100%;
  border-bottom: 7px solid var(--color-foreground);
}
.pool-icon {
  color: #ddd;
  cursor: pointer;
  font-size: 3rem;
  opacity: 0.5;
  position: absolute;
  right: 20px;
  transition: opacity 200ms ease-in;
  top: 0;
  user-select: none;
}
.pool-icon:hover {
  opacity: 1;
}
.save-icon {
  color: #ddd;
  cursor: pointer;
  font-size: 3rem;
  opacity: 0.5;
  position: absolute;
  left: 20px;
  transition: opacity 200ms ease-in;
  top: 0;
  user-select: none;
}
.save-icon:hover {
  opacity: 1;
}
.save-icon:hover ~ #save {
  transform: translateX(7%);
  transition-delay: 0s;
}
#screenshot-button {
  margin: 0 5px;
}

/* tierlist */
#tierlist {
  background: var(--color-foreground);
  border: 4px solid var(--color-foreground);
  border-radius: 8px;
  margin: 20px;
  margin-top: 60px;
}
.row {
  background: var(--color-background);
  border: 4px solid var(--color-foreground);
  border-radius: 12px;
  display: flex;
  position: relative;
}
.rank-wrap {
  align-items: center;
  border-radius: 8px;
  display: inline-flex;
  font-family: Helvetica, sans-serif;
  font-size: 128px;
  font-weight: bold;
  justify-content: center;
  min-width: 116px;
  max-width: 116px;
  user-select: none;
}
.tag {
  word-wrap: break-word;
  text-align: center;
  max-width: calc(100% - 8px);
  max-height: calc(100% - 8px);
}
#tierlist .card-box {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  min-height: 160px;
  width: 100%;
}
#card-pool .card-box.over,
#tierlist .card-box.over {
  background: var(--color-background-highlighted);
  border-radius: 8px;
}

/* menu */
.icon {
  cursor: pointer;
  font-size: 2rem;
  opacity: 0;
  position: absolute;
  right: 14px;
  transition: opacity 200ms ease-in;
  top: 0;
  user-select: none;
  z-index: 600;
}
.icon::before,
.add-icon::before,
.rmv-icon::before {
  content: "";
  height: 28px;
  position: absolute;
  width: 28px;
  top: 6px;
}
.row:hover > .icon {
  opacity: 0.25 !important;
}
.menu {
  align-items: center;
  background: var(--color-background-transparent);
  border-radius: 8px;
  display: none;
  flex-direction: column-reverse;
  height: 115px;
  justify-content: flex-start;
  max-width: 100px;
  position: absolute;
  right: 0;
}
.add-icon {
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.25;
  position: absolute;
  left: 6px;
  top: 0;
  user-select: none;
}
.rmv-icon {
  cursor: pointer;
  font-size: 2rem;
  opacity: 0.25;
  position: absolute;
  left: 36px;
  top: 0;
  user-select: none;
}

/* text input */
.menu > input[type="text"] {
  background: var(--color-background);
  border: 2px solid var(--color-background-transparent);
  border-radius: 8px;
  color: var(--color-text);
  text-align: center;
  width: 90%;
}

/* color picker */
.menu > input[type="color"] {
  background-color: transparent;
  border: none;
  color: transparent;
  width: 90%;
}
.menu > input::-webkit-color-swatch {
  border: 2px solid var(--color-background-transparent);
  border-radius: 8px;
}
.menu > input::-moz-color-swatch {
  border: 2px solid var(--color-background-transparent);
  border-radius: 8px;
}

/* screenshot */
#output {
  align-items: center;
  backdrop-filter: blur(4px);
  background: var(--color-background-transparent);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
}
#screenshotInfo {
  background: var(--color-foreground);
  border-radius: 8px;
  display: flex;
  padding: 20px;
  position: fixed;
  top: 1vh;
  width: 95%;
  z-index: 900;
}
#infoText {
  margin-right: auto;
}
#closeButton {
  margin-left: 8px;
}
#output canvas {
  transform: scale(0.8);
}

/* cardpool */
#card-pool {
  background: var(--color-background);
  border-left: 8px solid var(--color-foreground);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 500ms ease-out;
  min-width: 264px;
  width: 25%;
  z-index: 700;
}
#card-pool.half {
  transform: translateX(70%);
  transition-delay: 0s;
}
#card-pool.out {
  transform: translateX(0);
  transition-delay: 0s;
}
#title {
  text-align: center;
}
#card-pool > .card-box {
  align-content: flex-start;
  background: var(--color-foreground);
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 12px;
  overflow: auto;
}
.card-box.trash {
  align-content: center !important;
  background: var(--color-background);
  color: var(--color-background);
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin-top: 8px;
  max-height: 10%;
  user-select: none;
}

/* card */
.card {
  display: flex;
  height: 152px;
  justify-content: center;
  margin: 4px;
  position: relative;
  width: 100px;
}
.card-name-wrapper {
  display: flex;
  align-self: flex-end;
  position: absolute;
  background: var(--color-background-transparent);
  border-radius: 8px;
  width: calc(100% - 8px);
  max-height: 38px;
  padding: 4px;
  margin-bottom: 4px;
  overflow: hidden;
  justify-content: center;
}
.card-name-wrapper:hover {
  overflow: scroll;
  max-height: calc(100% - 8px);
}
.card-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  width: calc(100% - 8px);
  overflow: hidden;
  text-shadow: 1px 1px 5px black;
}
.card-name:hover {
  overflow: scroll;
}

.card-image {
  border-radius: 8px;
  width: 100px;
  object-fit: fill;
  background-color: var(--color-background-transparent);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
* {
  scrollbar-width: none;
}

/* v1.4 */
#query-nav * {
  margin: 0 5px;
}

#query-nav > select {
  width: 85px;
}
