/* 
    SoulDestroy Snippet - version 1.0.0
      by https://anilist.co/user/Anzu/
      at https://github.com/AnzuFTNW
      for https://anilist.co/user/SoulDestroy/
*/

:root {
    /* settings */
    --bio-size: 50%; 
    --max-size: 79.2vw;
}

/* code */

/* activity feed 1 column */
.activity-feed-wrap > .activity-feed {
    display: block;
}

/* bio width */
.user .overview {
    grid-template-columns: calc(var(--bio-size) - 40px) auto !important;
}

/* content size */
.user > .container {
    max-width: var(--max-size);
}

/* stats 1 column + spacing */
.section > .stats-wrap {
    display: block;
}
.list-stats:nth-child(2) {
    margin-top: 20px;
}

/* avatar + follow stuff redesign */
.container > .banner-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 4px 4px 0 0;
    background: rgb(var(--color-foreground));
    transform: translate( calc(15.5vw - 150px - 40px) , calc(330px + 46px + 30px) ); 
}
.banner-content > .name, .actions > .dropdown {
    display: none;
}
.banner-content > .avatar {
    border-radius: 0;
    z-index: 1;
}
.banner-content > .follower-badge {
    position: absolute;
    top: 3px;
    left: 3px;
    background: rgba(var(--color-blue),.2);
}
.actions > .nav-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
}
.actions > .nav-btn:nth-child(1) {
    top: 195px;
    left: 12.5px;
    width: 125px;
    padding: 4px 0px;
    border-radius: 4px;
    background: rgba(var(--color-blue),1);
    transition: background 0.3s linear;
}
.actions > .donator-badge {
    top: 150px;
    width: 150px;
    border-radius: 0 0 4px 4px;
}
.actions > .nav-btn:nth-child(1):hover {
    background: rgba(var(--color-red),1);
}
