/* Discord.css Version 1.1 Update */

/* To Do:
- Changing the reply design to look more like the changed activities
- Scroll down on load up / Load up scrolled down? 
- Fixing the width bug on top row and input - (probably) related to scrollbar? [Temp. Fixed]
- Fixing the link bug on the server icons for profile, anime list and manga list. [Temp. Fixed]
*/

/* Activity Edit Rewrite - Y-Axis-Scaleable Inputbox - Thankfully I found out about the "order" property. */
.activity-edit[data-v-93c5960c] {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.markdown-editor[data-v-93c5960c]::before {
    left: 0px;
}
.markdown-editor[data-v-93c5960c] {
    display: inline-flex;
    order: 0;
    margin-bottom: -3.5px;
}
.preview[data-v-5e514b1e] {
    margin-top: 15.5px;
    margin-bottom: -3.5px;
}
.activity-entry[data-v-93c5960c] .wrap[data-v-5e514b1e] {
    display: inline-flex;
    order: 1;
    min-height: 50px;
    max-height: calc(75vh - 25vh - 18px - 15.5px - 15.5px - 35px - 12px);
    width: 100%;
    overflow-y: auto;
}
.activity-entry[data-v-93c5960c] .text[data-v-5e514b1e] {
    width: 100%;
}
.input[data-v-93c5960c] {
    display: inline-flex;
    order: 2;
    position: static;
    margin-top: 15.5px;
    width: 100%;
}
.input[data-v-93c5960c] .el-textarea__inner {
    max-height: 25vh;
}

/* Reply Input Fix */
.activity-replies[data-v-7ce9ffb8] {
    margin: 0;
}
.reply[data-v-5a191921] {
    margin: 20px;
}

/* Reply Preview Style */
.preview[data-v-5a191921] {
    max-height: calc(75vh - 25vh - 18px - 15.5px - 15.5px - 35px - 12px);
    border: 2px solid rgba(0,0,0,0.15);
    margin: 15.5px 0px -3.5px 0px;
    overflow-y: auto;
}
.preview[data-v-5a191921]::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px 16px var(--color-bg-shade4);
}

/* Inverted Activity Feed */
.activity-feed-wrap[data-v-09492909] {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}
.activity-feed[data-v-09492909] {
    display: flex;
    flex-direction: column-reverse;
}
.activity-entry[data-v-5e514b1e] {
    margin-bottom: 0;
    margin-top: 12px;
}
.load-more[data-v-6f203cf2] {
    margin-top: 12px;
    margin-bottom: 0;
}

/* Temporary Server Icons "Fix" */
.link[data-v-4fbac4e1] {
    padding: 14px 0px;
    height: 46px;
    width: 46px;
    background: var(--color-bg-shade3);
    border-radius: 100px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 1rem;
}

.link[data-v-4fbac4e1]:hover {
    background: var(--color-blue-shade1);
    border-radius: 15px;
}

.wrap .link[href="/home"] {
    padding: 15.5px 0px;
    height: 46px;
    width: 46px;
    background: var(--color-bg-shade3);
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 0;
}
.wrap .link[href="/search/anime"] {
    padding: 15.5px 0px;
    height: 46px;
    width: 46px;
    background: var(--color-bg-shade3);
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 0;
}
.wrap .link[href="/forum/overview"] {
    padding: 15.5px 0px;
    height: 46px;
    width: 46px;
    background: var(--color-bg-shade3);
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 0;
}
.wrap .link[href="/user/Anzu/"]::before { content: ""; font-size: 0; font-weight: 0; }
.wrap .link[href="/user/Anzu/animelist"]::before { content: ""; font-size: 0; font-weight: 0; }
.wrap .link[href="/user/Anzu/mangalist"]::before { content: ""; font-size: 0; font-weight: 0; }
.link[data-v-4fbac4e1]:hover {
    background: var(--color-blue-shade1);
    border-radius: 15px;
}

/* Random Width Bug Fix Attempt - Atleast it fixes the background for now, so it dosnt look as bad as before... */

/* Top Bar */
#app {
    width: 100%;
}
.page-content {
    width: calc(100% - 240px);
}

/* Input Field */
#app::after {
    content: "";
    position: fixed;
    bottom: 0;
    right: calc(0px + 240px - 17px);
    width: 17px;
    height: 66px;
    background: var(--color-bg-shade2);
    z-index: -1;
}

