/* Discord.css Version 1.1.1 Update */

/* To Do:
- Changing the reply design to look more like the changed activities
- Scroll down on load up / Load up scrolled down? 
- Fixing the width bug on top row and input - (probably) related to scrollbar? [Temp. Fixed]
- Fixing the link bug on the server icons for profile, anime list and manga list. [Temp. Fixed]
*/

/* Activity Edit Rewrite - Y-Axis-Scaleable Inputbox - Thankfully I found out about the "order" property. */
.activity-edit[data-v-93c5960c] {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}
.markdown-editor[data-v-93c5960c]::before {
    left: 0px;
}
.markdown-editor[data-v-93c5960c] {
    display: inline-flex;
    order: 0;
    margin-bottom: -3.5px;
}
.preview[data-v-5e514b1e] {
    margin-top: 15.5px;
    margin-bottom: -3.5px;
}
.activity-entry[data-v-93c5960c] .wrap[data-v-5e514b1e] {
    display: inline-flex;
    order: 1;
    min-height: 50px;
    max-height: calc(75vh - 25vh - 18px - 15.5px - 15.5px - 35px - 12px);
    width: 100%;
    overflow-y: auto;
}
.activity-entry[data-v-93c5960c] .text[data-v-5e514b1e] {
    width: 100%;
}
.input[data-v-93c5960c] {
    display: inline-flex;
    order: 2;
    position: static;
    margin-top: 15.5px;
    width: 100%;
}
.input[data-v-93c5960c] .el-textarea__inner {
    max-height: 25vh;
}

/* Reply Input Fix */
.activity-replies[data-v-7ce9ffb8] {
    margin: 0;
}
.reply[data-v-5a191921] {
    margin: 20px;
}

/* Reply Preview Style */
.preview[data-v-5a191921] {
    max-height: calc(75vh - 25vh - 18px - 15.5px - 15.5px - 35px - 12px);
    border: 2px solid rgba(0,0,0,0.15);
    margin: 15.5px 0px -3.5px 0px;
    overflow-y: auto;
}
.preview[data-v-5a191921]::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px 16px var(--color-bg-shade4);
}

/* Inverted Activity Feed */
.activity-feed-wrap[data-v-09492909] {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}
.activity-feed[data-v-09492909] {
    display: flex;
    flex-direction: column-reverse;
}
.activity-entry[data-v-5e514b1e] {
    margin-bottom: 0;
    margin-top: 12px;
}
.load-more[data-v-6f203cf2] {
    margin-top: 12px;
    margin-bottom: 0;
}

/* Server Icons Fix thanks to @cakes for getting me aware of the :nth pseudo classes */
.wrap .link[data-v-4fbac4e1]:nth-child(1)::before { content: "H"; font-size: initial; font-weight: 800; }
.wrap .link[data-v-4fbac4e1]:nth-child(2)::before { content: "P"; font-size: initial; font-weight: 800; }
.wrap .link[data-v-4fbac4e1]:nth-child(3)::before { content: "AL"; font-size: initial; font-weight: 800; }
.wrap .link[data-v-4fbac4e1]:nth-child(4)::before { content: "ML"; font-size: initial; font-weight: 800; }
.wrap .link[data-v-4fbac4e1]:nth-child(5)::before { content: "B"; font-size: initial; font-weight: 800; }
.wrap .link[data-v-4fbac4e1]:nth-child(6)::before { content: "F"; font-size: initial; font-weight: 800; }

/* Width Bug Fix Attempt - Seems like it dosn't interrupt anything else */
html {
    overflow: hidden;
}

