a:hover { 
	cursor:url(https://i.imgur.com/gUHCgyQ.png), pointer !important; 
}

@font-face {
	font-family: 'Wildwords Roman';
	src: url(https://anzuftnw.github.io/fonts/wildwordsroman.ttf) format('tff'),
	url(https://anzuftnw.github.io/fonts/wildwordsroman.woff) format('woff'),
	url(https://anzuftnw.github.io/fonts/wildwordsroman.woff2) format('woff2');
}

.nav .link[data-v-5445dac8],
.stat .value[data-v-815ccddc],
.milestones .milestone[data-v-815ccddc],
.dropdown[data-v-38edf8f8],
.dropdown[data-v-0bb70ffa],
.name[data-v-aedb6876],
.el-dropdown-menu--small .el-dropdown-menu__item,
.wrap[data-v-5e514b1e],
.overview[data-v-2cf72664] .content-wrap,
.wrap[data-v-5e514b1e],
.browse-wrap[data-v-4fbac4e1] .dropdown,
.user-wrap[data-v-4fbac4e1] .dropdown,
.site-theme-dark .quick-search.el-select .el-input.el-input__inner,
.site-theme-dark .quick-search .el-select .el-input.is-focus .el-input__inner,
.site-theme-dark .el-select-dropdown,
.site-theme-dark .el-dropdown-menu,
.site-theme-dark .el-dropdown-menu__item--divided::before,
.input-shadow .el-input__inner,
.reply[data-v-0bf5aadf],
.el-input,
.el-textarea,
.markdown-editor,
.name[data-v-aedb6876],
.medialist.table .list-section,
.filters-wrap[data-v-128c06f0],
.el-input__inner,
.filter-wrap[data-v-1e00b9da],
.footer[data-v-82d0a8cc],
.section-header[data-v-514856af],
.section-header[data-v-aedb6876],
.section-header[data-v-45543a61],
.medialist.table .section-name,
.name[data-v-5445dac8],
.section-header[data-v-93c5960c],
.section-header[data-v-09492909],
.heading h3[data-v-72dc5b51],
.title[data-v-e74f4a6a],
h2[data-v-82d0a8cc],
.highlight .label[data-v-72dc5b51],
.bar-chart-wrap[data-v-46edc0ca],
.options[data-v-05bb5e72],
.title[data-v-26dc9635],
[data-v-72dc5b51] .horizontal-scroller,
.label-wrap[data-v-26dc9635],
.filters[data-v-310d8b7e],
.title[data-v-59e94718],
.filters[data-v-3ed82f3f],
.details[data-v-0f6464f0],
#regularAnimeTable,
#regularMangaTable,
#animeStaff,
#animeStudios,
#mangaStaff,
.tooltip.animate-position[data-v-9401173e],
.el-message-box {
    font-family: 'Wildwords Roman';
}
