/*==================================================*/
/*==================================================*/
/* Nav Bar */
/* No Transparent */
.site-theme-dark .nav-unscoped.transparent {
    background: #152232;
    color: #a0b1c5;;
}
/* No Hide */
.hide[data-v-4fbac4e1] {
    top: 0px !important;
}
/* Slim */
.nav[data-v-4fbac4e1] {
    height: 46px;
}
/* Pacing */
.wrap[data-v-4fbac4e1] {
	max-width: 67%;
}
/*==================================================*/
/* Nav Wrap */
/* Scrollable */
.nav-wrap[data-v-5445dac8] {
    position: fixed;
    bottom: 0%;
    z-index: 999;
}
/* Mobile Nav Fix*/
.mobile-nav[data-v-8aeb5e9a] {
    bottom: 71px;
}
/*==================================================*/
/* Banner */
/* Banner As Background */
.banner[data-v-5445dac8] {
    height: 100%;
    width: 100%;
    position: fixed;
/*    z-index: -1;*/ 
}
/* Avatar & Name Positioning */
.banner .container[data-v-5445dac8] {
	margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
	bottom: 46px;
    max-width: 100%;
}
.data-v-5445dac8 {
    z-index: 999;
}
/*==================================================*/
/* Page Content */
/* About No Scrolling */
.about .content-wrap[data-v-5c30286e] {
    max-height: none !important;
}
/* Content Padding */
.user > .container {
    padding-top: 50px;
    padding-bottom: 50px;    
}
/*==================================================*/
/* Footer */
/* Disable Footer */
.footer[data-v-82d0a8cc] {
    display: none;
}
/*==================================================*/
/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--color-text-lighter));
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-text));
}
::-webkit-scrollbar-thumb:active {
  background: rgb(var(--color-text));
}
::-webkit-scrollbar-track {
  background: rgb(var(--color-foreground));
}
::-webkit-scrollbar-track:hover {
  background: rgb(var(--color-foreground));
}
::-webkit-scrollbar-track:active {
  background: rgb(var(--color-foreground));
}
/*==================================================*/
/* Shadows
.header-wrap, .about, .nav[data-v-4fbac4e1], .activity-history[data-v-514856af], .genre-overview[data-v-aedb6876], .wrap[data-v-5e514b1e], .nav-wrap[data-v-5445dac8], .stats-wrap[data-v-5c30286e], .input[data-v-93c5960c] {
	box-shadow: 0 0 36px rgba(0, 0, 0, 0.5)
}*/
/*==================================================*/
/*==================================================*/
