/*
    Ghoulish' Theme - Version 1.0.0
        by https://anilist.co/user/Anzu/
        at https://github.com/AnzuFTNW
        for https://anilist.co/user/UselessGhoul/
*/
:root {
    --background-opacity: 0.5;
    --border-width: 1px;
    --border-style: solid;
    --border-color: #4e6b9f;
}


body {
    background:linear-gradient(rgb(var(--color-background),var(--background-opacity)),rgb(var(--color-background),var(--background-opacity))), url(https://cdn.discordapp.com/attachments/824266772533870643/847521698240659517/121188.jpg) center/100% fixed;
    background-color: rgb(var(--color-background));
}

body::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    background: url(https://cdn.discordapp.com/attachments/824266772533870643/847853517657604177/Removal-474.png);
    background-size: 30%;
    background-repeat: no-repeat;
    width: 15%;
    height: 20%;

}

body::after {
    content: "";
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    background: url(https://cdn.discordapp.com/attachments/824266772533870643/847853512691417109/Removal-844.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 15%;
    height: 70%;

}

#nav {
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}

.logo img {
    content: url(https://cdn.discordapp.com/attachments/824266772533870643/847519120840196166/1ttbxy4bg7q61.png);
    width: 50.6px !important;
    height: 44.1px !important;
    transition: 1s linear;
}
.logo img:hover {
    transform: rotate(360deg);
}

.nav-wrap {
  border-top: var(--border-width) var(--border-style) var(--border-color);
  border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
.activity-entry > .wrap,
.about > .content-wrap,
.desktop > .content-wrap,
.stats-wrap > .list-stats,
/*.favourites-wrap,*/
.reply,
.el-textarea,
.markdown-editor,
.load-more {
  border: var(--border-width) var(--border-style) var(--border-color);
}

.favourite.media {
    border-radius: 20px;
}

.wrap > .footer {
  background: rgb(var(--color-background));
  color: rgb(var(--color-text));
  border-top: var(--border-width) var(--border-style) var(--border-color);
}