/*
  custom-profile-color.css - version 1.0
    by https://github.com/AnzuFTNW
*/

/* settings */
:root {
  --cp-accent-color: 238, 212, 219;
  --cp-accent-color-dim: 208, 182, 189;
}

/* hook */
.user {
  --color-blue: var(--cp-accent-color) !important;
  --color-blue-dim: var(--cp-accent-color-dim) !important;
}

/* stats bar */
.user.user-page-unscoped .progress .bar {
  background: rgb(var(--color-blue)) !important;
  overflow: hidden;
  position: relative;
}
.user.user-page-unscoped .progress .bar:after {
  background: linear-gradient(530deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}