/*
    Kopaku Theme - Version 2.0.0
        by https://anilist.co/user/Anzu/
        at https://github.com/AnzuFTNW

    Special Thanks
        to https://anilist.co/user/cakes/
        for fixing stat-page width back in the day
*/
:root, .body, .site-theme-dark, .site-theme-contrast {
    /* settings */
    --konpaku-navbar-height: 46px;
    --konpaku-border-size: 4px;
    --konpaku-shadow: 0 0 36px rgba(0, 0, 0, 0.5);
    --konpaku-content-width: 925px;
    --konpaku-scrollbar-width: 7px;
    --konpaku-color-gray: 106, 99, 104;
    --konpaku-color-pink: 255, 164, 181;
    --konpaku-color-green: 124, 173, 156;
    --konpaku-color-hair: 210, 208, 226;
    --konpaku-background-image: url("https://i.imgur.com/3dXf8eK.gif");
    --konpaku-render-image: url("https://s8.gifyu.com/images/konpaku-gif-tt7c99b3c72790f9d8.gif");
    --konpaku-logo-image: url("https://i.imgur.com/Qc21ypw.png");
    
    /* color overwrite */
    --color-background: var(--konpaku-color-hair);
    --color-foreground: var(--konpaku-color-hair);
    --color-text: var(--konpaku-color-gray);
    --color-text-light: var(--konpaku-color-gray);
    --color-text-lighter: var(--konpaku-color-gray);
    --color-text-bright: var(--konpaku-color-gray);
    --color-blue: var(--konpaku-color-green);
    --color-blue-dim: var(--konpaku-color-gray);
    --color-green: var(--konpaku-color-green);
    --color-background-100: var(--konpaku-color-hair);
    --color-background-200: var(--konpaku-color-hair);
    --color-gray-100: var(--konpaku-color-hair);
    --color-gray-600: var(--konpaku-color-gray);
    --color-gray-700: var(--konpaku-color-gray);
    --color-gray-800: var(--konpaku-color-green);
    --color-gray-900: var(--konpaku-color-green);
}

/* code */
#app > .progress {
    background-color: rgb(var(--konpaku-color-green)) !important;
}
#nav {
    height: var(--konpaku-navbar-height);
    border-bottom: var(--konpaku-border-size) solid rgb(var(--konpaku-color-gray));
    box-shadow: var(--konpaku-shadow);
    color: rgb(var(--konpaku-color-gray));
    background: rgb(var(--konpaku-color-hair)); 
}
#nav > .wrap {
    max-width: unset;
}
.logo img {
    content: var(--konpaku-logo-image);
    width: 42px !important;
    height: 42px !important;
}
.nav .link:hover {
    color: rgb(var(--konpaku-color-green));
}
.hide {
    top: 0px !important;  
}
.nav-wrap {
    position: fixed;
    bottom: 0;
    z-index: 999;
    box-shadow: var(--konpaku-shadow);
    border-top: var(--konpaku-border-size) solid rgb(var(--konpaku-color-gray));
}
.nav.container > .link {
    margin: 0px;
}
.nav > .link.router-link-active {
    color: rgb(var(--konpaku-color-pink));
}
.header-wrap > .banner {
    height: 100%;
    width: 100%;
    position: fixed;  
    z-index: 0;
    background-image: var(--konpaku-background-image) !important;
}
.banner > .container {
    max-width: 100%;
	bottom: 50px;
    padding: 0 20px;
    background-image: var(--konpaku-render-image);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto calc(100% - 96px);
}
.actions > .dropdown, .actions > .dropdown:hover, .el-dropdown-menu, .el-dropdown-menu__item {
    color: rgb(var(--color-white));
}
.user > .container {
    padding: 50px;
    margin: 0;
    max-width: var(--konpaku-content-width);
}
.container > .overview {
    display: block;
}
.about .content-wrap {
    max-height: none !important;
}
.markdown video {
	border: var(--konpaku-border-size) solid rgb(var(--konpaku-color-gray));
}
.overview, .user-comments, .hohButton, .hohThemeSwitch {
    position: relative;
    z-index: 2;
}
.about, .input, .activity-entry > .wrap, .reply, .load-more, .medialist.table .list-section, .theme-switch, .el-input, .el-textarea, .user-page-unscoped .markdown-editor, .filter-group > .active, .filter-group > .router-link-active, .bar-chart-wrap, .pie-charts > .pie-chart, .horizontal-scroller, .switch, .highlight > .circle, .stat-card, .hohTable, .thread-card, .comment-wrap, .follow-card, .result-col {
    background: rgb(var(--konpaku-color-hair));
    border: var(--konpaku-border-size) solid rgb(var(--konpaku-color-gray));
    border-radius: 4px;
    box-shadow: var(--konpaku-shadow);
}
.activity-entry.activity-text {
    border-right-width: var(--konpaku-border-size)!important;
}
.hohDownload, .footer, .banner-content > .name, .follower-badge, .banner-content > .avatar, .desktop, .section > .stats-wrap {
	display: none;
}
::-webkit-scrollbar {
  width: var(--konpaku-scrollbar-width);
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--konpaku-color-gray));
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--konpaku-color-green));
}
.user[type] > .container {
    margin: initial;
    max-width: initial;
    padding: 5rem 20rem 5rem 20rem;
    z-index: 2;
    position: relative;
}
.heading > .switch, .switches > .switch {
    height: calc(31px + 2 * var(--konpaku-border-size)) !important;
}
.highlight > .circle {
    border-radius: 50%;
}
.filter-group > span > span {
    padding-right: 5px;
}
.follow-card > .avatar {
    width: calc(80px - 2 * var(--konpaku-border-size));
    height: calc(80px - 2 * var(--konpaku-border-size));
}
.fa-search {
    color: rgb(var(--konpaku-color-gray)) !important;
}

.fa-search:hover {
    color: rgb(var(--konpaku-color-green)) !important;
}
.user-wrap > .dropdown {
    right: -50px;
}
.user-wrap > .dropdown:before {
    right: 65px;
}
